// colors

$color1: #121423;
$color2: #87E389;
$color3: #32448C;
$color4: #8C91BA;


// mixins

.main-logo{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  flex-direction: row;

  &:before{
    display: block;
    content: '';
    margin-right: .25rem;
    height: 2.5rem;
    width: 2.5rem;
    background-image: url("/images/icons/ic_cards.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotate(180deg);
  }
}

.mixin-button{
  border-radius: 6.25rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  border: 1px solid white;
  transition: .3s;
  cursor: pointer;
  color: white;
  padding: .3rem 1.25rem;
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  &:hover{
    color: $color2;
    border-color: $color2;
  }

  &--colored{
    border: 0px;
    background-color: $color2;
    color: black;
    font-weight: bold;

    &:hover{
      background-color: $color4;
      color: black;
    }
  }
}




