doctype html
html(lang="en")
    head
        title INDEX
        link(href='./main.css', rel='stylesheet', type='text/css')
    body
        main(role="main" class='index-page')
            h1  HELLO WORLD