nav.footer-menu
    .footer-menu__column
        h3.footer-menu__title navigation
        ul.footer-menu__list
            li.footer-menu__item promotions
            li.footer-menu__item casino live
            li.footer-menu__item casino
            li.footer-menu__item sportbook
    .footer-menu__column
        h3.footer-menu__title catigories
        ul.footer-menu__list
            li.footer-menu__item new games
            li.footer-menu__item popular
            li.footer-menu__item slots
            li.footer-menu__item sportbook
            li.footer-menu__item other
    .footer-menu__column
        h3.footer-menu__title license
        ul.footer-menu__list
            li.footer-menu__item responsible game
            li.footer-menu__item fair play
    .footer-menu__column
        h3.footer-menu__title contacts
        ul.footer-menu__list
            li.footer-menu__item contact