section.partners-sec
    ul.partners-sec__list
        li.partners-sec__item bet365
        li.partners-sec__item YGGDRASIL
        li.partners-sec__item Microgaming
        li.partners-sec__item EvolutionGaming
        li.partners-sec__item VIVO Gaming
        li.partners-sec__item bet365
        li.partners-sec__item YGGDRASIL
        li.partners-sec__item Microgaming
        li.partners-sec__item EvolutionGaming
        li.partners-sec__item VIVO Gaming
        li.partners-sec__item bet365
        li.partners-sec__item YGGDRASIL
        li.partners-sec__item Microgaming
        li.partners-sec__item EvolutionGaming
        li.partners-sec__item VIVO Gaming
        li.partners-sec__item bet365
        li.partners-sec__item YGGDRASIL
        li.partners-sec__item Microgaming
        li.partners-sec__item EvolutionGaming
        li.partners-sec__item VIVO Gaming