ul.socials
    li.socials__item.socials__item--mail
    li.socials__item.socials__item-ok
    li.socials__item.socials__item--fb
    li.socials__item.socials__item--vk
    li.socials__item.socials__item--google