footer.footer
    .wrapper--inner
        include ../blocks/partners-sec
        .footer__info
            .footer__info-top
                .footer__info-column.footer__info-column--first
                    +mainLogo()
                    .footer__info-age-limit
                .footer__info-column.footer__info-column--second
                    include ../blocks/footer-menu
                .footer__info-column.footer__info-column--third
                    h6.footer__info-title To test one’s luck, one don’t even need to leave his or her house
                    p.footer__info-text Today online casinos have ceased to be something unusual, they are pretty much the same organizations as genuine gambling-houses, and their activities are strictly controlled. The online casino WebbySlot is being repeatedly tested for its honesty, and passes such tests successfully!
            .footer__info-bottom
                p.footer__terms Deuscasino.com is operated by SG International N.V., which is registered in E-Commerce park, Vredenberg, Curacao, having gaming licence No.8048/JAZZ2015-035 and all rights to operate the gaming software. SG International LP is providing payment services as an agent according to the licence agreement concluded between SG International LP and SG International N.V. © Deus Casino. All rights reserved. Developed by <a href="#" class="footer__terms-link">Softgamings</a>