header.header
    .wrapper--inner
        .header__content
            .header__item
                include ../blocks/main-menu
            .header__item
                +mainLogo()
            .header__item
